<div> Dear G - Alert User, </div>  
<p></p>    
<div> Web Portal URL - {0} </div>    
<div>User Name - {1}</div>    
<div> Your password for your account is: {2}</div>   
<p></p>   
<div>This is a G - Alert System Generated Email. Please do not reply.</div>  
<p></p>  
</div> Please contact your EPD Account Manager if you require more assistance. Thank You</div>